:root {
  /* Neutral */

  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  /* Orange */

  --Orange-500: hsl(28, 100%, 52%);

  /* Blue */

  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}
*:focus {
  outline: none;
}
body {
  background-color: var(--Neutral-900);
  color: var(--Neutral-0);
}
button {
  background-color: transparent;
  color: var(--Neutral-0);
  cursor: pointer;
  border: none;
  outline: none;
}
input {
  color: var(--Neutral-0);
}
ul {
  list-style: none;
}
header {
  padding: 2.5rem 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-sec {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.2rem;
  padding: 1.8rem 0;

  h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3.4rem;
    font-weight: 600;
  }

  form {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    position: relative;

    input,
    button {
      padding: 0.75rem 1.2rem;
      border-radius: 0.7rem;
    }

    .input {
      position: relative;
      flex: 1;

      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.3rem;
        z-index: 3;
      }

      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        padding-left: 3.5rem;
        position: relative;
        font-size: 1.2rem;
        caret-color: var(--Neutral-300);
        transition: background-color 0.3s;
        border: 3px solid var(--Neutral-900);
        background-color: var(--Neutral-800);
        &:hover {
          background-color: var(--Neutral-700);
        }
        &::placeholder {
          color: var(--Neutral-300);
        }
        &:focus-visible {
          outline: 3px solid var(--Neutral-0);
        }
      }
    }

    button {
      text-align: center;
      font-size: 1.9rem;
      color: var(--Neutral-0);
      cursor: pointer;
      border: 3px solid var(--Neutral-900);
      background-color: var(--Blue-500);
      font-size: 1.1rem;
      transition: background-color 0.5s;
      &:hover {
        background-color: var(--Blue-700);
      }
      &:focus-visible {
        outline: 3px solid var(--Blue-500);
      }
    }

    .search-in-progress {
      padding: 0.8rem 1.2rem;
      border: 2px solid var(--Neutral-600);
      background-color: var(--Neutral-800);
      position: absolute;
      top: 4rem;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      transform: translateY(-13px);
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      gap: 1rem;
      border-radius: 0.7rem;
      -webkit-transform: translateY(-13px);
      -moz-transform: translateY(-13px);
      -ms-transform: translateY(-13px);
      -o-transform: translateY(-13px);
      &.searching {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
      }

      img {
        width: 20px;
        animation: spin 1s linear infinite;
      }

      p {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }

    .search-history {
      transform: translateY(-13px);
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;

      position: absolute;
      top: 4rem;
      width: 100%;
      background-color: var(--Neutral-800);
      border: 2px solid var(--Neutral-600);
      padding: 0.4rem;
      border-radius: 0.7rem;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      -o-border-radius: 0.7rem;
      overflow-y: auto;
      z-index: 5;
      &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
      }
      h5 {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.3rem 0.4rem;
        border-bottom: 1px solid var(--Neutral-600);
        margin-bottom: 0.4rem;
        color: var(--Neutral-300);
      }
      .history-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0.4rem;

        li {
          padding: 0.5rem 1.2rem;
          border-bottom: 1px solid var(--Neutral-600);
          text-align: left;
          border-radius: 0.3rem;
          border: 2px solid transparent;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: var(--Neutral-700);
            border: 2px solid var(--Neutral-600);
          }
        }
      }
    }
  }
}

.weather-container {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  grid-template-rows: auto;
  gap: 2rem;

  .weather-sec {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .today-weather-card {
      aspect-ratio: 800 / 286;
      background-color: red;
      background: url("../public/assets/images/bg-today-large.svg") no-repeat
        center center;
      background-size: contain;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      border-radius: 1.2rem;

      &.loading {
        aspect-ratio: 800 / 286;
        background: var(--Neutral-800);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            letter-spacing: 2px;
            font-size: 1.7rem;
            font-weight: 500;
            color: var(--Neutral-200);
          }
        }
      }

      .left-div {
        h4 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          font-weight: 500;
          color: var(--Neutral-300);
        }
      }

      .right-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.2rem;

        img {
          width: 160px;
        }

        span {
          font-style: italic;
          font-size: 5rem;
          font-weight: 500;
        }
      }
    }

    .weather-details {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.7rem;

      .detail-item {
        background-color: var(--Neutral-800);
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        padding: 1.2rem;
        border: 2px solid var(--Neutral-600);
        border-radius: 1.2rem;
        -webkit-border-radius: 1.2rem;
        -moz-border-radius: 1.2rem;
        -ms-border-radius: 1.2rem;
        -o-border-radius: 1.2rem;

        .detail-label {
          font-size: 1.1rem;
          font-weight: 500;
          color: var(--Neutral-300);
        }

        .detail-value {
          font-size: 1.9rem;
          font-weight: 300;
        }
      }
    }

    .daily-forecast {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.7rem;

      .forecast-item {
        background-color: var(--Neutral-800);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        border: 2px solid var(--Neutral-600);
        border-radius: 1.2rem;
        -webkit-border-radius: 1.2rem;
        -moz-border-radius: 1.2rem;
        -ms-border-radius: 1.2rem;
        -o-border-radius: 1.2rem;
        padding: 0.8rem 0.6rem;

        .forecast-day {
          font-size: 1.2rem;
          font-weight: 400;
        }

        img {
          width: 65px;
        }

        .temp-range {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .forecast-temp:nth-child(2) {
            color: var(--Neutral-300);
          }
        }
      }
    }
  }

  aside {
    background-color: var(--Neutral-800);
    height: 735.73px;

    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;

    .head {
      padding: 1.5rem 1.5rem 0rem;
      margin-bottom: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: inherit;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      -ms-border-radius: inherit;
      -o-border-radius: inherit;
      h5 {
        font-size: 1.4rem;
        font-weight: 500;
      }

      .dropdown-container {
        .dropdown-button {
          background-color: var(--Neutral-600);
        }
        .dropdown-menu {
          padding: 0.4rem;
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          .dropdown-item {
            cursor: pointer;
            padding: 0.5rem 0.9rem;
            border: 2px solid transparent;
            transition: all 0.4s;
            border-radius: 0.4rem;
            -webkit-border-radius: 0.4rem;
            -moz-border-radius: 0.4rem;
            -ms-border-radius: 0.4rem;
            -o-border-radius: 0.4rem;
            &.selected,
            &:hover {
              background-color: var(--Neutral-700);
            }
            &:focus-visible {
              border-color: var(--Neutral-900);
              outline: 2px solid var(--Neutral-0);
            }
          }
        }
      }
    }

    .hours-list {
      padding: 0.8rem 1.5rem;
      scrollbar-width: thin;
      scroll-behavior: smooth;
      scrollbar-color: var(--Neutral-600) transparent;
      overflow-y: scroll;
      max-height: calc(100% - 6rem);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 0.8rem;

      li {
        max-height: 64px;
        border: 2px solid var(--Neutral-600);
        padding: 0.1rem 0.6rem;
        width: 100%;
        background-color: var(--Neutral-700);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;

        div {
          display: flex;
          align-items: center;

          img {
            width: 58px;
          }

          .hour {
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
        .temp {
          padding-right: 0.5rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }
}

/* Dropdown menu  */
.dropdown-container {
  position: relative;
  width: fit-content;

  .dropdown-button {
    border: 3px solid transparent;
    background-color: var(--Neutral-800);
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: background-color 0.3s;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    &:focus-visible {
      border-color: var(--Neutral-900);
      outline: 3px solid var(--Neutral-0);
    }
    &:hover {
      background-color: var(--Neutral-700);
    }
  }

  .dropdown-menu {
    border: 2px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    position: absolute;
    top: 3rem;
    right: 0;
    border-radius: 0.5rem;
    padding: 0.7rem 0.6rem;
    width: 230px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: all 0.3s ease-out;
    z-index: 6;
    &.show {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    .switch-imperial {
      border: 2px solid transparent;

      width: 95%;
      padding: 0.5rem 0.3rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.4s;
      border-radius: 0.4rem;
      -webkit-border-radius: 0.4rem;
      -moz-border-radius: 0.4rem;
      -ms-border-radius: 0.4rem;
      -o-border-radius: 0.4rem;

      &:hover {
        background-color: var(--Neutral-700);
      }
      &:focus-visible {
        border-color: var(--Neutral-900);

        outline: 2px solid var(--Neutral-0);
      }
    }

    .dropdown-section {
      padding: 0.2rem;

      .dropdown-label {
        color: var(--Neutral-300);
        font-weight: 500;
        font-size: 0.85rem;
        padding: 0.25rem 0;
      }

      .dropdown-item {
        font-size: 0.95rem;
        font-weight: 400;
        margin-bottom: 0.1rem;
        padding: 0.38rem 0.44rem;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;
        &.selected {
          background-color: var(--Neutral-700);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .dropdown-section:not(:last-child) {
      border-bottom: 1px solid var(--Neutral-600);
      margin-bottom: 0.2rem;
    }
  }
}

.no-result {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.something-wrong {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  > img {
    width: 50px;
    margin-top: 2.2rem;
  }

  h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3.4rem;
    font-weight: 600;
  }

  p {
    width: 30%;
    color: var(--Neutral-200);
  }

  button {
    background-color: var(--Neutral-800);
    padding: 0.6rem 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    transition: background-color 0.3s;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    &:hover {
      background-color: var(--Neutral-700);
    }
  }
}

@media screen and (max-width: 1124px) {
  .weather-container {
    grid-template-columns: 1fr;
    padding: 0.5rem;

    .weather-sec,
    aside {
      width: 100%;
      margin: 0 auto;
    }
  }
  .hero-sec {
    form {
      width: 65%;
    }
  }
  .something-wrong {
    p {
      width: 50%;
    }
  }
}

@media screen and (max-width: 825px) {
  .weather-container {
    .weather-sec {
      .daily-forecast {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  .hero-sec {
    h1 {
      text-align: center;
    }
  }
  .something-wrong {
    p {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 1.7rem 1.5rem;
  }
  .hero-sec {
    h1 {
      text-align: center;
      padding: 0 1.4rem;
    }
    form {
      flex-direction: column;
      width: 85%;

      .input,
      button {
        width: 100%;
      }
      .input {
        .search-icon {
          left: 1.3rem;
        }
      }
      button {
        text-align: center;
      }
    }
  }
  .dropdown-container {
    .dropdown-button {
      display: flex;
      gap: 0.35rem;
    }
  }

  .weather-container {
    .weather-sec {
      .weather-details {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .weather-container {
    padding: 0.5rem;

    .weather-sec {
      .today-weather-card {
        width: 100%;
        aspect-ratio: 5/4;
        background: url("../public/assets/images/bg-today-small.svg") no-repeat
          center center;
        background-size: contain;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;

        .loading-state {
          padding: 3.7rem 0;
        }

        .left-div {
          text-align: center;
          padding-top: 2rem;
        }
        .right-div {
          margin-top: 1rem;
          padding-right: 1.5rem;
          gap: 1rem;

          span {
            font-size: 3.5rem;
          }
        }
      }
      .weather-details {
        grid-template-columns: repeat(2, 1fr);

        .detail-item {
          .detail-value {
            font-size: 1.6rem;
          }
        }
      }
      .daily-forecast {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    aside {
      .head {
        h5 {
          font-size: 1.1rem;
        }
      }
    }
  }
  .hero-sec {
    form {
      .input,
      button {
        width: 92%;
      }
      .search-in-progress {
        top: 8rem;
      }
    }
  }
  .something-wrong {
    h1 {
      font-size: 2.4rem;
    }
    p {
      width: 80%;
    }
  }
}
